$color-cycle-1: '51D3D9';
$color-cycle-2: 'C8FF8C';
$color-cycle-3: '5A919B';

$color-elm-1: '5FB4CB';
$color-elm-2: 'EEA400';
$color-elm-3: '596277';
$color-elm-4: '8CD636';


// $color-cycle-1: '333333';
// $color-cycle-2: '999999';
// $color-cycle-3: 'FF0000';
