@import 'variables';

body {
  padding: 3rem;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

h1 {
  font-weight: 300;
  margin-bottom: 4rem;
}

h2 {
  font-weight: 100;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  margin-bottom: 2rem;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10rem;
  height: 10rem;
}

.icon--cycle {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2229.1842525%25%22%20y1%3D%2299.591125%25%22%20x2%3D%2286.4835855%25%22%20y2%3D%220.354484375%25%22%20id%3D%22linearGradient-1%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%23#{$color-cycle-1}%22%20offset%3D%2241.47%25%22%3E%3C%2Fstop%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%23#{$color-cycle-2}%22%20offset%3D%22100%25%22%3E%3C%2Fstop%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20x1%3D%2234.1175797%25%22%20y1%3D%22106.866256%25%22%20x2%3D%2294.6503472%25%22%20y2%3D%2220.5520801%25%22%20id%3D%22linearGradient-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%23#{$color-cycle-1}%22%20offset%3D%2241.47%25%22%3E%3C%2Fstop%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%23#{$color-cycle-3}%22%20offset%3D%22100%25%22%3E%3C%2Fstop%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%09%3Cg%3E%0A%09%09%3Cpath%20d%3D%22M255.96%2C198.32%20C255.84%2C200.92%20255.12%2C203.48%20253.8%2C205.8%20L229.56%2C247.8%20C226.64%2C252.88%20221.24%2C256%20215.4%2C256%20L80.88%2C256%20C75.04%2C256%2069.64%2C252.88%2066.72%2C247.84%20L2.2%2C136.2%20C0.72%2C133.64%200%2C130.84%200%2C128%20C0%2C125.16%200.56%2C122.2%202.28%2C119.32%20L66.76%2C8.16%20C69.68%2C3.12%2075.08%2C0%2080.88%2C0%20L215.4%2C0%20C221.24%2C0%20226.64%2C3.12%20229.56%2C8.16%20C229.56%2C8.16%20252.88%2C46.36%20254.56%2C49.08%20C256.24%2C51.8%20255.96%2C55.24%20255.96%2C58.04%20C255.96%2C60.44%20255.28%2C63.72%20254.64%2C66.32%20C254%2C68.92%20234.48%2C148.04%20234.48%2C148.04%20L191.88%2C57.44%20L104.56%2C57.44%20L63.68%2C128%20L104.56%2C198.56%20L191.84%2C198.56%20L255.96%2C198.32%20L255.96%2C198.32%20Z%22%20fill%3D%22url(%23linearGradient-1)%22%3E%3C%2Fpath%3E%0A%09%09%3Cpath%20d%3D%22M224.84%2C127.96%20L254.44%2C190.72%20C256.72%2C195.56%20256.48%2C201.2%20253.8%2C205.84%20L191.88%2C198.6%20L224.84%2C127.96%20L224.84%2C127.96%20Z%22%20fill%3D%22url(%23linearGradient-2)%22%3E%3C%2Fpath%3E%0A%09%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}

.icon--elm {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%0A%09%3Cg%3E%0A%09%09%3Cpolygon%20fill%3D%22%23#{$color-elm-1}%22%20points%3D%22128%20135.022029%207.02282105%20256%20248.977971%20256%22%3E%3C%2Fpolygon%3E%0A%09%09%3Cpolygon%20fill%3D%22%23#{$color-elm-2}%22%20points%3D%22202.332313%20195.311075%20256%20248.979554%20256%20141.643388%22%3E%3C%2Fpolygon%3E%0A%09%09%3Cpolygon%20fill%3D%22%23#{$color-elm-3}%22%20points%3D%22120.977971%20128%200%207.02202921%200%20248.979554%22%3E%3C%2Fpolygon%3E%0A%09%09%3Cpolygon%20fill%3D%22%23#{$color-elm-1}%22%20points%3D%22256%20113.806284%20256%200%20142.192924%200%22%3E%3C%2Fpolygon%3E%0A%09%09%3Cpolygon%20fill%3D%22%23#{$color-elm-4}%22%20points%3D%22195.583504%2067.4342159%20255.872312%20127.723024%20195.308589%20188.286748%20135.01978%20127.99794%22%3E%3C%2Fpolygon%3E%0A%09%09%3Cpolygon%20fill%3D%22%23#{$color-elm-4}%22%20points%3D%227.02123737%200%2062.7461228%2055.7256772%20183.875335%2055.7256772%20128.149658%200%22%3E%3C%2Fpolygon%3E%0A%09%09%3Cpolygon%20fill%3D%22%23#{$color-elm-2}%22%20points%3D%22128%20120.978763%20183.321839%2065.6561315%2072.6773689%2065.6561315%22%3E%3C%2Fpolygon%3E%0A%09%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}


.pink {
  font-family: 'Arial', sans-serif;
  font-size: 1.3em;
  color: #FF5FC4;
}

a, a:visited {
  text-decoration: none;
  color: #{'#' + $color-elm-1};
}

a:hover {
  text-decoration: underline;
}
